.chart{
    flex: 3;
    -webkit-box-shadow: -2px 6px 23px 7px rgba(0,0,0,0.19);
    -moz-box-shadow: -2px 6px 23px 7px rgba(0,0,0,0.19);
    box-shadow: -2px 6px 23px 7px rgba(0,0,0,0.19);
    border-radius: 10px;
    padding: 10px;
}