.widgets{
    
    margin-right: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex: 1;

    -webkit-box-shadow: -2px 6px 23px 7px rgba(0,0,0,0.19);
    -moz-box-shadow: -2px 6px 23px 7px rgba(0,0,0,0.19);
    box-shadow: -2px 6px 23px 7px rgba(0,0,0,0.19);
    border-radius: 10px;

    .left,
    .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }

    .title{
        font-size: 14px;
        font-weight: bold;
        color: #919191;
    }

    .counter{
        font-size: 28px;
        font-weight: 300;
    }

    .link{
        font-size: 12px;
        border-bottom: 1px solid gray;
        width: max-content;
    }

    .percentage{
        display: flex;
        align-items: center;
        font-size: 14px;

        &.positive{
            color:green
        }
        &.negative{
            color: red;
        }
    }

    
    
}